[submodule "spoofax.pie"]
	path = spoofax.pie
	url = git@github.com:metaborg/spoofax-pie.git
	branch = develop
[submodule "log"]
	path = log
	url = git@github.com:metaborg/log.git
	branch = develop
[submodule "resource"]
	path = resource
	url = git@github.com:metaborg/resource.git
	branch = develop
[submodule "pie"]
	path = pie
	url = git@github.com:metaborg/pie.git
	branch = develop
[submodule "jsglr"]
	path = jsglr
	url = git@github.com:metaborg/jsglr.git
	branch = master
[submodule "sdf"]
	path = sdf
	url = git@github.com:metaborg/sdf.git
	branch = master
[submodule "jenkins.pipeline"]
	path = jenkins.pipeline
	url = git@github.com:metaborg/jenkins.pipeline.git
	branch = develop
[submodule "mb.exec"]
	path = mb.exec
	url = git@github.com:metaborg/mb-exec.git
	branch = master
[submodule "spoofax"]
	path = spoofax
	url = git@github.com:metaborg/spoofax.git
	branch = master
[submodule "spoofax.gradle"]
	path = spoofax.gradle
	url = git@github.com:metaborg/spoofax.gradle.git
	branch = develop
